input, select{
	margin:0px;
	padding:0px;
}
#shop-contents{
	min-height:50vh;
}

#search-bar{
	text-align:center;
	margin:15px 0px;
	}

.search-class{
	border:3px solid #FF8040;
	border-radius:6px;
	font-size:18px;
	margin:0px 10px;
}

.search-class:focus{
	outline:none;
}

#search-bar input{
	padding:7px 10px;
	font-family:Microsoft JhengHei;
	width:400px;

}

#search-bar select{
	padding:6px 30px;
	font-family:Microsoft JhengHei;
	cursor:pointer;
	width:200px;
}

#search-bar button{
	padding:7px 40px;
	font-family:Microsoft JhengHei;
	background-color: #FF8040;
	color:#FFFFFF;
	letter-spacing:2px;
	cursor:pointer;
	
}

#search-bar button i{
	transform: translateY(-1px);
}

#search-bar button:hover{
	background-color: #F75000;
	border-color:	#F75000;
}

#shops{
	display:flex;
	max-width:990px;
	margin:0px auto;
	flex-wrap:wrap;
}

.shop-card{
	position:relative;
	margin:10px;
	border:1px solid #AAAAAA;
	width:225px;
	height:175px;
}

.shop-card img{
	width:225px;
	height:175px;
}

.shop-discription{
	width:100%;
	height:20%;
	position:absolute;
	bottom:0px;
	left:0px;
	background-color:rgba(191,191,191,0.8);
	transition:0.5s;
	overflow:hidden;
}

.shop-card:hover .shop-discription{
	transition:0.5s;
	height:100%;
}

.shop-discription .shop-name{
	margin:3px 5px;
	font-size:20px;
	font-weight:500;
	transition:0.5s;
}

.shop-discription .shop-special{
	margin:3px 5px;
	font-size:14px;
	transition:0.5s;
}

.shop-card:hover .shop-discription .shop-name{
	transition:0.5s;
	margin-top:30px;
	margin-bottom:15px;
}

.shop-card:hover .shop-discription .shop-special{
	transition:1s;
}

.search-warning{
	font-size:18px;
	font-weight:bold;
	margin:5vh auto;
}

#return-btn{
	height:40px;
	background-color:	#02C874;
	border-color:#02C874;
	color:#FFF;
	display:block;
	margin:2vh auto;
	font-family:Microsoft JhengHei;
	cursor:pointer;
}

#return-btn:hover{
	background-color:#019858;
	border-color: #019858;
}

@media screen and (min-width:1440px){
	#shops{
		max-width:1250px;
	}
}

@media screen and (max-width:1000px){
	#shops{
		max-width:745px;
	}
}

@media screen and (max-width:840px){
	.search-class{
		margin:0px 5px;
	}

	#search-bar input{
		padding:7px 10px;
		width:250px;
	}

	#search-bar select{
		padding:6px 10px;
		width:120px;
	}

	#search-bar button{
		padding:7px 20px;
	}
}

@media screen and (max-width:750px){
	#shops{
		max-width:495px;
	}
}

@media screen and (max-width:540px){
	.search-class{
		margin:5px auto;
		display:block;
	}

	#search-bar input{
		padding:6px 5px;
		width:92%;
	}

	#search-bar select{
		display:inline-block;
		padding:5px 5px;
		width:70%;
	}

	#search-bar button{
		display:inline;
		padding:6px 15px;
		width:25%;
	}

	#search-bar button i{
			display:none;
	}
}

@media screen and (max-width:500px){
	#shops{
		width:98vw;
	}

	.search-class{
		border-radius:0px;
	}

	#search-bar input{
		border:0px;
	}

	#search-bar select{
		border:0px;
		color:#5B5B5B;
	}

	#search-bar button{
		border:none;
		background-color:rgba(0,0,0,0);
	}

	#search-bar button:hover{
		border:none;
		background-color:rgba(0,0,0,0);
	}

	#search-bar button i{
			display:block;
			color:#FF8040;
			font-size:28px;
	}

	#search-bar button span{
		display:none;
	}

	.shop-card{
		position:relative;
		margin:2px auto;
		border:1px solid #AAAAAA;
		width:100%;
		height:auto;
		box-shadow:1px 2px 2px rgba(0,0,0,0.2);
		padding:20px 10px;
		background-color: #F0F0F0;
		border:0px;

	}

	.shop-card img{
		display:none;
	}

	.shop-discription{
		display:block;
		position:relative;
		height:100%;
		background-color:rgba(0,0,0,0);
	}

	.shop-card:hover .shop-discription .shop-name{
		transition:0.5s;
		margin:3px 5px;
	}
}

