#content{
	padding:3% 0px;
}

article{
	max-width:750px;
	margin:0px auto;
}

article img{
	max-width:750px;
	display:block;
	margin:30px auto;
}

article p{
	padding:15px 0px;
	line-height:35px;
	text-align:justify;
	color:#222222;
	font-size:18px;
}

#memo{
	margin-top:50px;
	font-size:14px;
}

#fb-share{
	color:#FFFFFF;
	background-color:#3b5998;
	border:none;
	font-family:Microsoft JhengHei;
	padding:4px 8px;
	vertical-align: middle;
	cursor:pointer;
}

#fb-share i{
	margin-right:4px;
}

#views{
	font-family:Microsoft JhengHei;
	margin:0px 8px;
	color:#444444;
}

#views i{
	margin-right:4px;
}

@media screen and (max-width:750px){
	article p{
		width:98vw;
		margin:0px auto;
		font-size:18px;
		line-height:28px;
		letter-spacing:1px;
	}

	article img{
		margin:10px 1vw;
		width:98vw;
		display:block;
	}

	#fb-share{
		margin-left:1vw;
	}

	#memo{
		font-size:12px;
	}
}