:root{
	--nav-height:9vh;
}

nav{
	position:relative;
	vertical-align: text-top;
	color:#DDDDDD;
	height:var(--nav-height);
}

#navs{
	position:relative;
	display:inline;
	padding:0px 10px;
	vertical-align:top;
}

.nav-item{
	display:inline;
	line-height:var(--nav-height);
	margin:0px 15px;
	font-size:15px;
	cursor:pointer;
	padding-bottom:1px;	
}

.add-height{
	height:12vh;
	line-height:12vh;
}

.nav-item a{
	color:#DDDDDD;
	vertical-align:top;
}

.nav-item a:hover{
	border-bottom:2px solid #DDDDDD;
}

#member{
	display:inline;
	float:right;
	margin-right:5%;
}


#navbar-icon{
	display:inline;
	border-right:1px solid #DDDDDD;
	line-height:var(--nav-height);
	padding:0px 20px;
	font-size:20px;
	letter-spacing:5px;
	margin-left:5%;
	cursor:pointer;
}

#navbar-icon a{
	color:#DDDDDD;
}

#navbar-icon a:hover{
	color:#FFDC35;
}

#toggle-button{
	font-size:20px;
	padding:5px 12px;
	background-color:rgba(0,0,0,0);
	border:1px solid white;
	color:white;
	border-radius:3px;
	display: none;
}

.on-top{
	display:block;
	background-color:black;
	color:white;
	z-index:99;
	transition:1s;
}

.sticky{
	display:block;
	background-color: rgba(0,0,0,0.8);
	position:fixed;
	top:0px;
	width:100%;
	z-index:99;
	transition:0.2s;
}

.hide{
	top:-9vh;
	transition:0.2s;
}

/*scroll top button*/
#scrollTop{
	position:fixed;
	right:0px;
	bottom:10%;
	border:none;
	font-size:32px;
	padding:15px 20px;
	background-color:#FFDC35;
	cursor:pointer;
	transition:0.5s;
	z-index:99;
	display:none;
	outline:none;
	opacity:0.7;
}

#scrollTop:hover{
	opacity:1;
	transition:0.5s;
}

/*title*/


.title{
	position:relative;
	text-align:center;
	height:auto;
	padding:0px;
	margin:0px;
}

.add-top-margin{
	margin-top:var(--nav-height);
}

.title img{
	max-width:100%;
	height:auto;
	margin:0px;
	padding:0px;
}

.title h3{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	font-size:32px;
	letter-spacing: 5px;
	padding:4% 6%;
	margin:0px;
	background-color:rgba(225,225,225,0.2);
}

footer{
	background-color:#222222;
	color:#DDDDDD;
	padding:20px 0px;
	font-size:14px;
	clear:both;
}

#footer-content{
	text-align:center;
	margin:20px;
	display:flex;
	justify-content: center;
}

#footer-left{
	border-right:1px solid #DDDDDD;
	padding:5px 20px;
	line-height: 25px;
	max-width:300px;
}

#footer-left p{
	text-align:right;
}

#footer-right{
	padding:5px 20px;
	line-height: 25px;
	max-width:300px;
}

#footer-right p{
	text-align:left;
	vertical-align:top;
	margin-top:7px;
}

#footer-right form{
	text-align:left;
}

#footer-right input:focus{
	outline:none;
	box-shadow: inset 1px 1px 2px 1px rgba(20%,20%,40%,0.5);
}


#footer-right form input{
	padding:7px;
	width:200px;
	font-size:16px;
	border:none;
	border-radius:5px 0 0 5px;
}

#footer-right form button{
	margin:0px;
	border:none;
	border-radius: 0 5px 5px 0;
	font-size:16px;
	padding:7px;
	cursor:pointer;
	position:relative;
	background-color: #FFCC22;
	transform:translateX(-4px);
}

footer p{
	text-align: center;
}

/*小於768px*/
@media screen and (max-width:768px){
	nav{
		background-color:black;
	}

	#navs{
		display:inline;
		justify-content:center;
		background-color:black;
	}

	#navbar-icon{
		margin-left:1%;
		padding:0px 15px;
		font-size:16px;
	}

	#member{
		min-width:70px;
	}

	.nav-item{
		font-size:14px;
		margin:0px 5px;

	}

	#toggle-button{
		display:none;
	}

	.sticky{
		background-color:black;
	}

	#footer-right form input{
		width:150px;
		font-size:14px;
	}

	#footer-right form button{
		font-size:14px;
	}
}

/*小於600px*/
@media screen and (max-width:600px){
	nav{
		background-color:black;
	}

	#navs{
		display:none;
		padding-left:5%;
		justify-content:start;
		background-color:black;
		position:fixed;
		width:100vw;
	}

	#navbar-icon{
		font-size:18px;
	}

	.nav-item{
		display:block;
		line-height:25px;
		height:30px;
	}

	#member{
		float:left;
		margin:0px;
		padding-top:7px;
}

	#navbar-icon{
		border-right:0px;
	}

	#toggle-button{
		position:absolute;
		display:inline;
		right:5vw;
		top:50%;
		transform: translateY(-50%);
	}

	.sticky{
		background-color:black;
	}
	.title h3{
		position:relative;
		top:0;
		left:0;
		letter-spacing:3px;
		transform:none;
		font-size:28px;
		padding:6% 0px;
		background-color:#FFE66F;
	}
}

/*小於500*/
@media screen and (max-width:500px){
	footer{
		font-size:14px;
	}

	#footer-content{
		display:block;
	}

	#footer-left{
		display:block;
		border:0px;
		padding:0px;
		margin:0px auto;
		width:500px;
	}

	#footer-left p{
		text-align:center;
		font-size:12px;
	}

	#footer-right{
		padding:5px 0px;
		line-height: 25px;
		margin:0px auto;
	}

	#footer-right p{
		text-align:center;
		margin-top:7px;
	}

	#footer-right form{
		text-align:center;
	}


	#footer-right form input{
		padding:7px;
		width:200px;
		font-size:14px;
	}

	#footer-right form button{
		font-size:14px;
		padding:7px 10px;
	}

	footer p{
		font-size:10px;
	}
}