#transportation-content{
    transform:translateY(-5px);
    padding:3% 0px;
    height:80vh;
}

#map{
	height:40vh;
	width:60vw;
	margin:0px auto;

}

.transport-flexbox{
	display:flex;
	width:60vw;
	justify-content:center;
	margin:0px auto;
}

.transport-info{
	width:49%;
	margin:10px 0px;
	padding:10px;
}

.transport-info h4{
	margin:5px 0px;
	font-size:22px;
}

.transport-info h4 i{
	margin-right:8px;
	font-size:22px;
}

.transport-info ul li{
	line-height: 28px;
}

.transport-info ul li .exit{
	color:#004B97;
	border:1px solid #004B97;
}
 
.tag{
	font-size:14px;
	padding:1px 5px;
	margin-right:2px;
}

.transport-info ul li .time{
	color:#FF0000;
	padding:0px 5px;
}

.location{
	color:#CE0000;
	border:1px solid #CE0000;
}

#MRT{
	margin-right:2%;
	background-color:#84C1FF;
}

#bus{
	background-color:#FFB5B5;
}