#transportation-content{
    transform:translateY(-5px);
    padding:3% 0px;
}

#transport-title{
	max-width:1200px;
	margin:0px auto;
	margin-bottom:20px;
	font-size:28px;
}

#map{
	height:60vh;
	max-width:1200px;
	margin:0px auto;
}

.transport-flexbox{
	display:flex;
	max-width:1200px;
	justify-content:center;
	margin:0px auto;
}

.transport-info{
	width:49%;
	margin:10px 0px;
	padding:10px;
	border:1px solid #BBBBBB;
	border-radius:7px;
}

.transport-info h4{
	margin:5px 0px;
	font-size:22px;
}

.transport-info h4 i{
	margin-right:8px;
	font-size:22px;
}

.transport-info ul li{
	line-height: 28px;
}
 
.tag{
	padding:1px 5px;
	margin-right:5px;
}

.exit{
	color:#004B97;
	border-right:1px solid #004B97;
}

.location{
	color:#CE0000;
	border-right:1px solid #CE0000;
}

.transport-info ul li .time{
	color:#FF0000;
	padding:0px 5px;
}



#MRT{
	margin-right:2%;
	border-bottom:7px solid #84C1FF;
}

#bus{
	border-bottom:7px solid #FFB5B5;
}

@media screen and (max-width:768px){
	body{
		overflow-x:hidden;
	}

	#MRT{
		margin:10px auto; 
	}

	#transport-title{
		margin:0px;
	}

	#transport-title h4{
		margin:0px;
		margin-bottom:5px;
		font-size:22px;
	}

	.transport-flexbox{
		display:block;
		margin:0px auto;
	}

	.transport-info{
		width:95vw;
		margin:10px auto;
		padding:10px 1vw;
	}
}

@media screen and (max-width:425px){
	.trnsport-content{
		padding:0px;
	}
	#transport-title h4{
		display:none;
	}
	.transport-info ul li{
		font-size:14px;
		line-height:24px;
	}

	.transport-info h4{
		margin:5px 0px;
		font-size:18px;
	}
}